/* Base Syles ================================ */
:root {
  --black: #272727;
  --blue: #0b7fdd;
  --dark-blue: #0c6ebf;
  --green: #06d19c;
  --dark-green: #09bb8c;
}

<<<<<<< HEAD
.wrapper {
  /* background-image: url("../images/bridge.jpg"); */
  background-color: #192739;
=======
.wrapper2 {
  display: grid;
  background-image: url("../images/cool-background.png");
  background-color: rgb(25, 39, 57);
>>>>>>> 85fa34ce58785b226574b016d4bc8be91c3ee616
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.form-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  /* min-height: 561px; */
  padding-top: 50px;
}

.form {
  width: 350px;
  display: grid;
  grid-template-columns: repeat(minmax(150px, 1fr));
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  background: #fff;
  border-radius: 5px;
}

.form-label {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.form-control {
  padding: 15px;
  margin: 5px 0;
  display: block;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  transition: 0.2s ease-out;
}

.form-control:focus {
  padding: 15px;
  outline: 0;
  border-color: var(--blue);
}

.form p {
  text-align: center;
}

.footer p {
  color: white;
}

textarea {
  font-family: "Helvetica Neue", sans-serif;
}
