/* Base Syles ================================ */
:root {
  --black: #272727;
  --blue: #0073d1;
  --green: #06d19c;
}

/* Profile */
.profile-page {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-top: 80px;
  background-color: #f4f4ef;
  padding: 0 30px;
}

.profile-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px 30px;
  min-height: 250px;
  margin-bottom: 50px;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  width: 90%;
  border-radius: 6px;
  margin-top: 3rem;
}

.profile-info img {
  border-radius: 50%;
  width: 150px;
  height: auto;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.profile-name {
  justify-self: start;
}

.ride-img {
  width: 150px;
  height: auto;
}

.user-ride-count {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 30px;
}

.user-count-num {
  padding: 5px 30px;
  border-radius: 10px;
  background: var(--blue);
  color: white;
  text-align: center;
}

.rides-block {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.rides {
  background: #eee;
  padding: 40px;
}

@media (max-width: 800px) {
  .rides-block {
    grid-template-columns: 1fr;
  }
}
